html, body {
  overscroll-behavior-y: none;
  height: 100%;
}

#root {
  height: 100%;
}

body[data-theme='dark'] {
  background-color: #1a202c;
  color: #e2e8f0;
}

body[data-theme='dark'] .chakra-ui-light {
  background-color: #2d3748;
  color: #e2e8f0;
}